<h2>Login</h2>

<form action="<%= session_url %>" method="POST">
  <%= auth_token %>
  <label>
    Email
    <input type="text" name="user[email]" id="user_email">
  </label>
  <br>
  <label>
    Password
    <input type="password" name="user[password]" id="user_password">
  </label>
  <br>
  <input type="submit" value="Submit">
</form>
