<form action="<%= action %>" method="post">
  <input type="hidden" name="_method" value= "<%= method %>">
  <%= auth_token %>
  <label>
    Name
    <input type="text" name="band[name]" value="<%= band ? band.name : nil %>">
  </label>
  <br>
  <input type="submit" value="Submit">
</form>
